
#nav-bar {
  background: #00a087;
  color: #e8fdff;
  font-family: "Roboto", sans-serif;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  margin: 0;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;

}