
#nav-bar {
  background: #00a087;
  color: #e8fdff;
  font-family: "Roboto", sans-serif;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  margin: 0;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}

#nav-bar #compose-butt {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  color: #10d0b2;
  display: block;
  float: right;
  line-height: 50px;
  margin: 10px 0;
  opacity: 0.85;
  padding: 5px;
  width: 120px;
}

#nav-bar #compose-butt:hover {
  color: black;
  opacity: 1;
}
