
.tweet {
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: "Roboto", sans-serif;
  left: 2em;
  padding: 10px;
  right: 2em;
  width: 400px;


}

.tweet header {



}

.tweet header img {



}

.tweet header h2 {



}

.tweet header h4 {



}

.tweet p {



}

.tweet footer {



}

.tweet footer h5 {



}