
.tweet {
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: "Roboto", sans-serif;
  left: 2em;
  margin: 20px auto;
  padding: 0;
  right: 2em;
  width: 400px;

}

.tweet header {
  background-color: #eee;
  box-sizing: border-box;
  display: block;
  margin: 0;
  overflow: auto;
  padding: 0 5px;

}

.tweet header img {
  border-radius: 10px;
  display: block;
  margin: 0;
  float: left;
  height: 60px;
  width: 60px;
  padding: 5px;
}

.tweet header h2 {
  display: block;
  float: left;
  margin: 0;
  padding-top: 10px;

}

.tweet header h4 {
  display: block;
  float: right;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  right: 0;

}

.tweet p {
  display: block;
  box-sizing: border-box;
  margin: 24px 0;
  min-height: 60px;
  padding: 0 5px;

}

.tweet footer {
  border-top: 1px solid #D3D3D3;
  box-sizing: border-box;
  display: line-block;
  height: 30px;

}

.tweet footer h5 {
  display: block;
  line-height: 20px;
  float: left;
  margin: 0;
  padding: 0 5px;

}

.tweet footer a {
  display: none;
  margin: 0;
  float: right;
  padding-right: 10px;
}

.tweet:hover footer a {
  display: block;
/*  margin: 0;
  float: right;
  padding-right: 10px;*/
}



